<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sad Mac 500 Internal server error</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/error500.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<figure>
	<div class="sad-mac"></div>
	<figcaption>
		<span class="sr-text">Error 500: Internal server error (it may be wrong port)</span>
		<span class="e"></span>
		<span class="r"></span>
		<span class="r"></span>
		<span class="o"></span>
		<span class="r"></span>
		<span class="_5"></span>
		<span class="_0"></span>
		<span class="_0"></span>
	</figcaption>
</figure>
<!-- partial -->
  
</body>
</html>
